/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
.container{
    width: 70%;
    margin: auto;
}
.col{
    float: left;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.down-arrow{
    font-size: 25px;
    padding-right: 7px;
}

/* Buttons */
.btn{
    display: inline-block;
    border-radius: 40px;
    text-decoration: none;
    line-height: normal;
}
.small-btn{
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 600;
}
.big-btn{
    padding: 17px 32px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 1%;
}
.white-btn{
    background-color: white;
    color: black;
}
.black-btn{
    background-color: #23272a;
    color: white;
}
.purple-btn{
    background-color: #8ea1e1;
    color: white;
}



/* HEADER */
header{
    background-color: #3161e0;
    height: 100px;
    line-height: 100px;
}
.logo-container{
    width: 15%;
    padding-top: 1%;
}
.top-menu{
    width: 70%;
    text-align: center;
    line-height: 100px;
}
.top-menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 0 2%;
}
.button-container{
    text-align: right;
    width: 15%;
}
/* END HEADER */



/* MAIN */
.text{
    color: white;
    font-size: 23px;
}
.gray-bg-box{
    padding: 80px 0;
    background-color: #f6f6f6;
}

/* Banner */
.banner-container{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    text-align: center;
}

.banner-content{
    width: 40%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 9.5%;
}

.banner-content h1{
    color: white;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 4%;
}
.big-btn-container{
    margin-top: 6%;
}

/* Discord description- Discord Community */
.description{
    padding: 150px 0;
}
.image-container{
    width: 70%;
}
.text-container{
    width: 30%;
}
.title{
    color: #23272a;
    font-size: 50px;
    padding: 5% 0 3%;
}
.text-container p.text,
.bottom-text-container p.text{
    color:#3a3e40;
    font-size: 23px;
    line-height: 30px;
}

/* Description-easy */
.description-easy img{
    float: right;
}

/* Discord functionality */
.bottom-text-container{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 3% 0;
}
.bottom-image-container{
    width: 90%;
    margin:auto;
}
.bottom-image-container img{
    width: 100%;
}
.ready{
    width: 40%;
    margin: auto;
    padding: 3%;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
.ready h3{
    text-align: center;
    font-size: 30px;
}
.download-btn{
    width: 50%;
    margin: auto;
    padding: 20px 0 40px;
    text-align: center;
}
/* END MAIN */



/* FOOTER */
footer{
    background-color: #23272a;
    padding-top: 80px;
}
footer .container{
    border-bottom: 2px solid #384259;
}
.social-col{
    width: 40%;
}
.list-col{
    width: 15%;
}

/* Discord social networks */
.footer-title{
    color:#7288d9;
    font-size: 30px;
}
.ita-flag{
    vertical-align: middle;
    height: 20px;
}
footer .text{
    padding-left: 5px;
    font-size: 15px;
}
footer .icon{
    color: white;
    padding: 18px 10px;
    font-size: 20px;
    
}

/* Footer lists */
ul{
    list-style-type: none;
}
.list-title{
    font-size: 20px;
    color: #7288d9;
    padding-top: 10px;
}
ul a{
    display: inline-block;
    text-decoration: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 9px 0;
}

#end-page{
    padding: 40px 0 80px;
}
.logo-bottom{
    width: 85%;
    padding-top: 5px;
}
/* END FOOTER */