/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
.container{
    width: 70%;
    margin: auto;
}
.col{
    float: left;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}


/* Buttons */
.btn{
    border-radius: 25px;
    text-decoration: none;
}
.small-btn{
    padding: 6% 10%;
    font-size: 15px;
    font-weight: 600;
}
.big-btn{
    padding: 2% 5%;
    font-size: 20px;
    font-weight: bold;
    margin: 0 1%;
}
.white-btn{
    background-color: white;
    color: black;
}
.black-btn{
    background-color: #23272a;
    color: white;
}



/* HEADER */
header{
    background-color: #3161e0;
    height: 100px;
    line-height: 100px;
}
.logo-container{
    width: 15%;
    padding-top: 1%;
}
.top-menu{
    width: 70%;
    text-align: center;
    line-height: 100px;
}
.top-menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 0 2%;
}
.button-container{
    text-align: right;
    width: 15%;
}



/* MAIN */
.text{
    color: white;
    font-size: 23px;
}

/* Banner */
.banner-container{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    text-align: center;
}

.banner-content{
    width: 40%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 9.5%;
}

.banner-content h1{
    color: white;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 4%;
}
.big-btn-container{
    margin-top: 6%;
}

/* Discord description */
.description{
    padding: 150px 0;
}
.image-container{
    width: 70%;
}
.text-container{
    width: 30%;
}
.title{
    color: #23272a;
    font-size: 50px;
    padding: 5% 0 3%;
}
.text-container p.text{
    color:#3a3e40;
    font-size: 23px;
    line-height: 30px;
}

/* Description-easy */
.gray-bg{
    padding: 80px 0;
    background-color: #f6f6f6;
}
.description-easy img{
    float: right;
}